/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 21 avr. 2022, 02:26:45
    Author     : ASUS
*/
.login-bg{
    
    -fx-background-color:linear-gradient(to bottom right,#2f466b, #4bbed7);
}
.exit{
    -fx-background-color:#c22c40;
    -fx-background-radius:5px;
    -fx-cursor:hand;
}
.textfield-design{
    -fx-background-color: transparent;
    -fx-background-radius:10px;
    -fx-border-color:linear-gradient(to bottom right,#2f466b,#4bbed7);
    -fx-border-radius:10px;
    -fx-text-inner-color: rgb(7, 7, 7);
}
.button-design{
     -fx-background-color:linear-gradient(to bottom right,#2f466b,#4bbed7);
     -fx-background-radius:20px;
      -fx-cursor:hand;
     
}
.button-design:hover{
     -fx-background-color:linear-gradient(to bottom left,#4bbed7, #543b9d);
     -fx-background-radius:20px;
      -fx-cursor:hand;
     
}
.hypertext-design{
    -fx-text-fill:#5185c5;
    -fx-underline:false;
    -fx-border-color:transparent;
}
.hypertext-design:hover{
    
    -fx-underline:true;
    
}
.Cartevieux-design:hover{

    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-text-fill: #333333;

}
.EventVBox-design:hover{
    /*-fx-background-color:#543b9d;
    -fx-border-color: #ccc; -fx-padding: 5px; -fx-spacing: 5px;
    -fx-background-color: #f0f0f0;  Couleur de fond
    -fx-padding: 10px;  Espacement intérieur
    -fx-spacing: 10px;*/
    -fx-background-color: #f0f0f0; /* Couleur de fond */
    -fx-padding: 10px; /* Espacement intérieur */
    -fx-spacing: 10px; /* Espacement entre les enfants */
    -fx-border-color: #007bff; /* Couleur du cadre */
    -fx-border-width: 2px; /* Largeur du cadre */
    -fx-border-radius: 5px; /* Rayon des coins du cadre */

}
.fieldtext-design:hover {
    -fx-background-color: #f0f0f0;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-border-color: #ccc;
    -fx-border-width: 1px;
}
.choice-box-desing:hover {
    -fx-background-color: #001233;
    -fx-mark-color: #da9a09ff;
    -fx-font-family: "Century Gothic";
    -fx-text-fill: white;
}
.side_left{
    -fx-background-color: #001233;
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-border-color: #ffffff;
    -fx-border-style: solid;
}
.pane_top{
    -fx-background-color: #c8a06aff;
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-border-style: solid;
    -fx-border-color: #c8a06aff;
}
.sec_pane{
    -fx-background-color: #eeeeea;
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-border-style: solid;
    -fx-border-color: #da9a09ff;
}
.normalBtn{
    -fx-background-color: #001233;
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-border-style: solid;
    -fx-border-color: #da9a09ff;
    -fx-font-family: "Century Gothic";
    -fx-font-size: 10px;
    -fx-text-fill: white;
}
.normalMainBtn{
    -fx-background-color: #da9a09ff;
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-border-style: solid;
    -fx-border-color: #da9a09ff;
    -fx-font-family: "Century Gothic";
    -fx-font-size: 10px;
    -fx-text-fill: white;
}
.Home_btn{
    -fx-background-color: #da9a09ff;
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-border-style: solid;
    -fx-border-color: #da9a09ff;
    -fx-font-family: "Century Gothic";
    -fx-font-size: 15px;
    -fx-text-fill: white;
}
.hBox_main{
    -fx-background-color: #ffffffff;
}
.search_Bar{
    -fx-background-color: #da9a09ff;
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-border-style: solid;
    -fx-border-color: #da9a09ff;
    -fx-font-family: "Century Gothic";
}
.pane_Body1{
    -fx-background-color: #da9a09ff;
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-border-style: solid;
    -fx-border-color: #da9a09ff;
}
.Pane_11{
    -fx-background-color: #FD9999;
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-border-style: solid;
    -fx-border-color: #FD9999;
}
.Pane_112{
    -fx-background-color: #ea7070;
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-border-style: solid;
    -fx-border-color: #FD9999;
}
.pane_navBar{
    -fx-background-color: #da9a09ff;
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-border-color: #eeeeee;
    -fx-border-style: solid;
}
.bodyy{
    -fx-background-color: #f0f0f0;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-border-color: #ccc;
    -fx-border-width: 1px;
}
fieldtext {
    -fx-background-color: #f0f0f0;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-border-color: #ccc;
    -fx-border-width: 1px;
}
.pane_back_body{
    -fx-background-color: #e0dbdb;
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-border-color: #eeeeee;
    -fx-border-style: solid;
}
.btn_conf{
    -fx-background-color: #001233;
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-border-color: #001233;
    -fx-border-style: solid;
    -fx-font-family: "Century Gothic";
    -fx-text-fill: white;
}
.btn_decline{
    -fx-background-color: #da9a09ff;
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-border-color: #da9a09ff;
    -fx-border-style: solid;
    -fx-font-family: "Century Gothic";
    -fx-text-fill: white;
}
.choice-box {
    -fx-background-color: #001233;
    -fx-mark-color: #da9a09ff;
    -fx-font-family: "Century Gothic";
    -fx-text-fill: white;
}
.btnQuit{
    -fx-background-color: #da9a09ff;
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-border-color: #da9a09ff;
    -fx-border-style: solid;
    -fx-font-family: "Century Gothic";
    -fx-text-fill: white;
}
.textt{
    -fx-font-family: "Century Gothic";
    -fx-font-size: 10px;
}
.maintext{
    -fx-font-family: "Century Gothic";
    -fx-font-size: 15px;
}