/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 21 avr. 2022, 02:26:45
    Author     : ASUS
*/
.login-bg{
    
    -fx-background-color:linear-gradient(to bottom right,#2f466b, #4bbed7);
}
.exit{
    -fx-background-color:#c22c40;
    -fx-background-radius:5px;
    -fx-cursor:hand;
}
.textfield-design{
    -fx-background-color: transparent;
    -fx-background-radius:10px;
    -fx-border-color:linear-gradient(to bottom right, #fcf9f9,#4bbed7);
    -fx-border-radius:10px;
    -fx-text-inner-color: rgb(7, 7, 7);
}
.button-design{
     -fx-background-color:linear-gradient(to bottom right,#2f466b,#4bbed7);
     -fx-background-radius:20px;
      -fx-cursor:hand;
     
}
.button-design:hover{
     -fx-background-color:linear-gradient(to bottom left,#4bbed7, #543b9d);
     -fx-background-radius:20px;
      -fx-cursor:hand;
     
}
.hypertext-design{
    -fx-text-fill:#5185c5;
    -fx-underline:false;
    -fx-border-color:transparent;
}
.hypertext-design:hover{
    
    -fx-underline:true;
    
}
.Cartevieux-design:hover{

    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-text-fill: #333333;

}
.EventVBox-design:hover{
    -fx-background-color: #f0f0f0; /* Couleur de fond */
    -fx-padding: 10px; /* Espacement intérieur */
    -fx-spacing: 10px; /* Espacement entre les enfants */
    -fx-border-color: #007bff; /* Couleur du cadre */
    -fx-border-width: 2px; /* Largeur du cadre */
    -fx-border-radius: 5px; /* Rayon des coins du cadre */

}
.fieldtext-design:hover {
    -fx-background-color: #f0f0f0;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-border-color: #ccc;
    -fx-border-width: 1px;
}
